﻿@{
    ViewData["Title"] = "Get ID";
}

<link href="~/assets/css/apply.css" rel="stylesheet" />

<div id="logo" class="text-center">
    <img src="~/assets/images/Get-ID.png" width="200" height="200" />
</div>

<style>
    body {
        background-color: #fff;
    }

    .panel {
        width: 80%;
        margin: 2em auto;
    }

    .panel-body {
        margin: 1em auto;
    }
</style>

<div class="panel panel-default bootstrap-basic">
    <div class="panel-body">
        <div class="col-md-4">
            <img id="photo" src="~/assets/images/man.jpg" width="282" height="282" />
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label class="control-label">RFID</label>
                    <input class="form-control" type="text" id="input_rfid" placeholder="123456" required">
                </div>
                <div class="form-group col-xs-6">
                    <label class="control-label col-xs-12">Cedula</label>
                    <input class="form-control" type="text" id="input_cedula" placeholder="111-111111-1" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" type="text" id="input_name" placeholder="Name" required>
                </div>
                <div class="form-group col-xs-6">
                    <label class="control-label">Apellido</label>
                    <input class="form-control" type="text" id="input_lastname" placeholder="LastName" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-4">
                    <label class="control-label">Sexo</label>
                    <select class="form-control" id="select_gender">
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <label class="control-label">Nacionalidad</label>
                    <select class="form-control" id="select_nationality">
                        <option value="1">Dominicano</option>
                        <option value="2">Dominicana</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <label class="control-label">Fecha de Nacimiento</label>
                    <input class="form-control" type="date" id="input_datebirth" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="control-label">Correo Electronico</label>
                    <input class="form-control" type="email" id="input_email" placeholder="Name@Mail.Com" required>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button id="btn_1" class="btn btn-success btn-lg" onclick="SaveData();">Save Data</button>
            <button id="btn_2" class="btn btn-danger btn-lg" onclick="ViewPersonData();">View Data</button>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="@Url.Action("Index", "Home")"><img src="~/assets/images/Home.png" /></a>
</div>

@section scripts {
<script>
    function ViewPersonData() {
        $.post("/Home/ViewPersonData",
            {
                rfid: $("#input_rfid").val()                
            },
            function (response) {
                $("#input_cedula").val(response.cedula);
                var data = JSON.parse(response.datos);
                $("#input_name").val(data.Nombre);
                $("#input_lastname").val(data.Apellido);
                $("#input_gender").val(data.Sexo);
                $("#input_datebirth").val(data.Fecha_Nacimiento);
                $("#input_nationality").val(data.Nacionalidad);
                $("#input_email").val(data.Correo);
            }
        );
    }

    function SaveData() {
        $.post("/Home/SaveData",
            {
                RFID: $("#input_rfid").val(),
                Cedula: $("#input_cedula").val(),
                Nombre: $("#input_name").val(),
                Apellido: $("#input_lastname").val(),
                Sexo: $("#select_gender option:selected").text(),
                Fecha_Nacimiento: $("#input_datebirth").val(),
                Nacionalidad: $("#select_nationality option:selected").text(),
                Correo: $("#input_email").val()
            },
            function (response) {
                alert(response.msg);
                ClearInputs();
            }
        );
    }

    function ClearInputs() { 
        $("#input_rfid").val("");
        $("#input_cedula").val("");
        $("#input_name").val("");
        $("#input_lastname").val("");
        $("#select_gender").val("1");
        $("#input_datebirth").val("");
        $("#select_nationality").val("1");
        $("#input_email").val("");
        $("#photo").attr("src", "/assets/images/man.jpg");
    }

    $("#select_gender").change(function () {
        var value = $("#select_gender").val();
        if (value == "1") {
            $("#photo").attr("src", "/assets/images/man.jpg");
            $("#select_nationality").val("1");
        }else if (value == "2") {
            $("#photo").attr("src", "/assets/images/women.jpg");
            $("#select_nationality").val("2");
        }
    });

    $("#select_nationality").change(function () {
        var value = $("#select_nationality").val();
        if (value == "1") {
            $("#photo").attr("src", "/assets/images/man.jpg");
            $("#select_gender").val("1");
        } else if (value == "2") {
            $("#photo").attr("src", "/assets/images/women.jpg");
            $("#select_gender").val("2");
        }
    });
</script>
}