﻿@{
    ViewData["Title"] = "Home Page";
}

<link href="~/assets/css/apply.css" rel="stylesheet" />

<style>
.img_size {
    width: 100px; 
    height: 100px;
    text-align: center;
}
</style>

<div id="logo" class="text-center" style="margin-top: 30px;">
    <img src="~/assets/images/Logo.png" width="300" height="217" />
</div>

<div class="container" style="margin-top: 30px;">
    <table class="table table-bordered" style="background: #fff;">
        <thead>
            <tr>
                <th>Foto</th>
                <th>RFID</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Sexo</th>
                <th>Nacionalidad</th>
                <th>F. Nacimiento</th>
                <th>Correo Electronico</th>
            </tr>
        </thead>
        <tbody id="Personas">
           <!-- Here You Will See All Persons -->
        </tbody>
    </table>
</div>

<div class="text-center">
    <a href="@Url.Action("Apply", "Home")"><img src="~/assets/images/Person.png" /></a>
</div>

@section scripts {
<script>
    function ViewPersons() {
        $.post("/Home/ViewPersons",
            {
                /* Hello World */
            },
            function (response) {
                /* Create Table */
                var arreglo = response.personas;
                for (item in arreglo) {
                    var fila = arreglo[item];
                    var hola = JSON.parse(fila.datos);
                    tr = $("<tr></tr>");
                    td1 = $("<td></td>").attr("class", "text-center");
                    if (hola.Sexo == "Masculino") {
                        img = $("<img></img>").attr("src", "/assets/images/man.jpg");
                        img.attr("class", "img_size");
                    } else {
                        img = $("<img></img>").attr("src", "/assets/images/women.jpg");
                        img.attr("class", "img_size");
                    }
                    $(td1).append(img);
                    td2 = $("<td></td>").html(fila.id);
                    td3 = $("<td></td>").html(fila.cedula);
                    td4 = $("<td></td>").html(hola.Nombre);
                    td5 = $("<td></td>").html(hola.Apellido);
                    td6 = $("<td></td>").html(hola.Sexo);
                    td7 = $("<td></td>").html(hola.Nacionalidad);
                    td8 = $("<td></td").html(hola.Fecha_Nacimiento);
                    td9 = $("<td></td").html(hola.Correo);
                    $(tr).append(td1, td2, td3, td4, td5, td6, td7, td8, td9);
                    $("#Personas").append(tr);
                }  
            }
        );
    }
    $(document).ready(function () {
        ViewPersons();
    });
</script>
}