body {
    background-image: url(../images/particles.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #14517d;
}

h1, h2, h3, h4, h5, h6 {
    color: #ce2626;
}

#line {
    margin-top: 20px;
    margin-bottom: 22px;
    border-top: 2px solid #d3d3d3;
}

.MarginDiv {
	margin-top: 30px;
}

.Tamaño {
	width: 400px;
	margin-bottom: 20px;
}

.Formulario {
    max-width: 800px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.80);
    box-shadow: inset 0 0 5px #000000;
}

#logo {
    margin-top: 10px;
}

.textArea {
	width: 700px;
}

.fecha {
    width: 100px;
}