@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
    font: 300 14px/1.8 'Raleway', sans-serif;
    color: #666;
    overflow-x: hidden;
}

a {
    color: #E7746F;
}

a:hover {
    text-decoration: none;
    color: #999;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    color: #ce2626;
}

body {
    font-style: normal;
    color: #14517d;
}

p, li {
    font-family: AzoSansWebLight, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

#seccion1, #seccion2, #seccion3, #seccion4, #seccion5, #seccion6, #seccion7, #seccion8, #seccion9, #seccion10, #seccion11 {
    background-color: whitesmoke;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

.home {
    background-image: url("../images/particles.png");
    opacity: 0.2;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.intro {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 200px;
}

.intro h1 {
    color: #14517d;
    font-weight: 600;
    margin-top: 50px;
}

@media screen and (max-width: 800px) {
    .intro {
        position: absolute;
        text-align: center;
        width: 100%;
        margin-top: 100px;
    }

    .intro h1 {
        color: #14517d;
        font-weight: 600;
        margin-top: 20px;
    }
}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
    background: #222;
    text-align: center;
    padding: 20px 0;
    color: #FFF;
}

.copyright {
    margin: 0;
}

.copyright a {
    border-bottom: 1px dotted #fff;
}

#footer span {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
    background-color: rgba(235, 235, 235, .8);
    color: #e7746f;
}

/* ---------------------------------------------- /*
 * Scroll Down                                    
/* ---------------------------------------------- */

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #787878;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    z-index: 10;
    text-align: center;
}

.scroll-down span {
    position: relative;
    color: #787878;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

/* ---------------------------------------------- /*
 * Pagination
/* ---------------------------------------------- */

.pagination {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4em;
    z-index: 10;
}

.pagination a {
    height: 20px;
    margin-bottom: 5px;
    color: red;
    position: relative;
    padding: 4px;
}

.pagination a.active:after {
    box-shadow: inset 0 0 0 5px;
}

.pagination a .hover-text {
    position: absolute;
    right: 15px;
    top: 7px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    padding-right: 15px;
}

.pagination a:hover .hover-text {
    opacity: 1;
}

.pagination a:after {
    -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    right: 4px;
    bottom: 0;
}

.pagination > li > a, .pagination > li > span {
    background-color: transparent;
    border: 0;
    float: none;
    display: block;
}

/* ---------------------------------------------- /*
 * Float Buttons
/* ---------------------------------------------- */

.float-logo {
    position: fixed;
    top: .9375rem;
    left: 1.25rem;
}

.float-logo img {
    width: 125px;
    height: 90px;
}

.float-id {
    position: fixed;
    top: .9375rem;
    right: 1.25rem;
}

.float-id img {
    width: 100px;
    height: 100px;
}

.float-select {
    position: fixed;
    bottom: .9375rem;
    right: 1.25rem;
}