﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Digital State is a global, distributed, secure and encrypted data repositoy designed with real-time syncronizastion betweeen nodes. Based on a blockchain platform it includes payment processing and is open asset protocol compatible">
    <meta name="author" content="Informatik Solution Group">
    <title>@ViewData["Title"] - Digital State</title>
    <environment include="Development">
        <link asp-href-include="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link asp-href-include="assets/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">
        <link asp-href-include="assets/css/animate.css" rel="stylesheet">
        <link asp-href-include="assets/css/material.min.css" rel="stylesheet">
        <link asp-href-include="assets/css/font-awesome.min.css" rel="stylesheet">
        <link asp-href-include="assets/css/flag-icon.min.css" rel="stylesheet">
        <link asp-href-include="assets/js/smtp.js" rel="stylesheet">
    </environment>
</head>
<body>
    @RenderBody()
    <environment include="Development">
        <script asp-src-include="assets/js/jquery-1.11.1.min.js"></script>
        <script asp-src-include="assets/bootstrap/js/bootstrap.min.js"></script>
        <script asp-src-include="assets/bootstrap/js/bootstrap-select.min.js"></script>
        <script asp-src-include="assets/js/wow.min.js"></script>
        <script asp-src-include="assets/js/jquery.scrollify.min.js"></script>
        <script asp-src-include="assets/js/material.min.js"></script>
        <script asp-src-include="assets/js/smtp.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>