﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Digital State</title>
    <environment include="Development">
        <link asp-href-include="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link asp-href-include="assets/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">
    </environment>
</head>
<body>
    @RenderBody()
    <environment include="Development">
        <script asp-src-include="assets/js/jquery-1.11.1.min.js"></script>
        <script asp-src-include="assets/bootstrap/js/bootstrap.min.js"></script>
        <script asp-src-include="assets/bootstrap/js/bootstrap-select.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
