﻿@{
    ViewData["Title"] = "Get E-ID";
}

<link href="~/assets/css/apply.css" rel="stylesheet" />
<script asp-src-include="assets/js/smtp.js"></script>

<div id="logo" class="text-center">
    <img src="~/assets/images/Logo.png" width="300" height="217" />
</div>

<form>
    <div class="container-fluid Formulario">
        <div>
            <h1>Application for Digital-ID</h1>
        </div>
        <div class="form-group row MarginDiv">
            <div class="col-xs-2 col-md-2">
                <label for="TypeApp">Type of application </label>
            </div>
            <div class="col-xs-5 col-md-9 col-md-offset-3 Tamaño ">
                <select class="form-control" id="TypeApp">
                    <option>Select an Option</option>
                    <option>First digital-id app</option>
                    <option>Expiry of document</option>
                    <option>Data has change</option>
                    <option>Lost,destroyed,stole</option>
                    <option>Unusable</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
        <h4><Strong>Personal details (as on your identity document)</Strong></h4>
        <div id="line">
            <div class="form-group row MarginDiv">
                <div class="col-md-2 ">
                    <label for="Given name"> Given name(s) </label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <input class="form-control" type="text" id="GiveName" placeholder="Please enter your full name as stated in the travel document" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="Surname" class="col-2 col-form-label">Surname(s) </label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <input class="form-control" type="text" id="Surname" placeholder="Please enter your full name as stated in the travel document" requited>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="country">Country of birth</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <select class="form-control" id="Country" required>
                        <option>Dominican Republic</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="Citizenship ">Citizenship</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <select class="form-control" id="Citizenship" required>
                        <option>Dominican Republic</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="BirthDate" class="col-2 col-form-label">Date of birth</label>
                </div>
                <div id="BirthDate" class="col-md-9 col-md-offset-3 Tamaño">
                    <fieldset class="date">
                        <select class="form-control fecha col-md-12" id="day">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                        <select class="form-control fecha col-md-12" id="month">
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                        </select>
                        <select class="form-control fecha col-md-12" id="year">
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                            <option value="1969">1969</option>
                            <option value="1968">1968</option>
                            <option value="1967">1967</option>
                            <option value="1966">1966</option>
                            <option value="1965">1965</option>
                            <option value="1964">1964</option>
                            <option value="1963">1963</option>
                            <option value="1962">1962</option>
                            <option value="1961">1961</option>
                            <option value="1960">1960</option>
                            <option value="1959">1959</option>
                            <option value="1958">1958</option>
                            <option value="1957">1957</option>
                            <option value="1956">1956</option>
                            <option value="1955">1955</option>
                            <option value="1954">1954</option>
                            <option value="1953">1953</option>
                            <option value="1952">1952</option>
                            <option value="1951">1951</option>
                            <option value="1950">1950</option>
                            <option value="1949">1949</option>
                            <option value="1948">1948</option>
                            <option value="1947">1947</option>
                        </select>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                <label for="Genders" class="col-2 col-form-label">Gender</label>
            </div>
            <div class="col-md-9 col-md-offset-3 Tamaño">
                <label class="radio-inline">
                    <input type="radio" name="Gender" id="gender" value="male" /> Male<br>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="Gender" id="gender" value="female" /> Female<br>
                </label>
            </div>
        </div>

        <h4><strong>Contact information</strong></h4>
        <div id="line">
            <div class="form-group row MarginDiv">
                <div class="col-md-2">
                    <label for="country">Country</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <select class="form-control" id="country " required>
                        <option>Dominican Republic</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="Street" class="col-2 col-form-label">Street address </label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <input class="form-control" type="text" id="Street" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="City" class="col-2 col-form-label">City </label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <input class="form-control" type="text" id="City" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="County" class="col-2 col-form-label">County</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <input class="form-control" type="text" id="County">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="email" class="col-2 col-form-label">E-mail </label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <input class="form-control" type="email" id="email" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="Confirm-email" class="col-2 col-form-label">Confirm e-mail</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <input class="form-control" type="text" id="Confirm-email" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="telephone" class="col-2 col-form-label">Telephone</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <input class="form-control" type="tel" id="Telephone" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="Pick-up">Pick-up Location</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <select class="form-control" id="Pickup " required>
                        <option>ISG solution group</option>
                    </select>
                </div>
            </div>
        </div>
        <h4><Strong>Identificacion details</Strong></h4>
        <div id="line">

            <div class="form-group row MarginDiv">
                <div class="col-md-2">
                    <label for="IdentificationType">Type of identify document</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <select class="form-control" id="IdentificationType" required>
                        <option>choose type</option>
                        <option>Passport/travel document</option>
                        <option>ID-card</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="No.Document" class="col-2 col-form-label">Document Number</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <input class="form-control" type="number" id="No.Document" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="Issuingauthority" class="col-2 col-form-label">Issuing authority</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <input class="form-control" type="text" id="Issuingauthority" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="IssueDate" class="col-2 col-form-label">Date of issue </label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <fieldset class="date">
                        <select class="form-control fecha col-md-9" id="dayIssueDate" name="day">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                        <select class="form-control fecha col-md-10" id="monthIssueDate" name="month">
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                        </select>
                        <select class="form-control fecha col-md-12" id="yearIssueDate" name="year">
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                        </select>
                    </fieldset>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="ExpiryDate" class="col-2 col-form-label">Date of expiry </label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <fieldset class="date">
                        <select class="form-control fecha col-md-9" id="dayExpiryDate" name="day">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                        <select class="form-control fecha col-md-10" id="monthExpiryDate" name="month">
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                        </select>
                        <select class="form-control  fecha col-md-12" id="yearExpiryDate" name="year">
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="IssuingCountry">Issuing Country</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <select class="form-control" id="IssuingCountry" required>
                        <option>Dominican Republic</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="UploadPhoto">Upload Photo</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <img id="PhotoPreview" class="img-thumbnail" src="http://via.placeholder.com/200x200" width="200" height="200" />
                    <input type="file" id="Photo" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="UploadDocPhoto">Upload copy of chosen identify document</label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <img id="DocumentPreview" class="img-thumbnail" src="http://via.placeholder.com/200x200" width="200" height="200" />
                    <input type="file" id="PhotoDocument" required>
                </div>
            </div>
        </div>
        <h4><Strong>Reason for application</Strong></h4>
        <div id="line">
            <div class="form-group row MarginDiv">
                <div class="col-md-2">
                    <label for="MainMotivationType">Main motivation </label>
                </div>
                <div class="col-md-9 col-md-offset-3 Tamaño">
                    <select class="form-control" id="MainMotivationType" required>
                        <option>choose your main motivation for appliying</option>
                        <option>Location indenpent international bussiness</option>
                        <option>Bringing business to Dominican Republic</option>
                        <option>Using the tecnology of secure authentication</option>
                        <option>Fan of digital-id</option>
                        <option>Promoting the development of Dominican Republic economy</option>
                        <option>Promoting the development of Dominican Republic science, education or culture</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <label for="MainMotivation">Describe your main motivations to get a digital-id</label>
                <textarea rows="4" cols="50" class="textArea" id="descriptionMotivation" required></textarea>
                <div style="margin-top: 15px">
                    <button type="button" class="btn btn-primary" id="button">Get Digital-ID</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
            var photo;
            var document;

            // Function For Show Photo Preview
            function readPhoto(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#PhotoPreview').attr('src', e.target.result);
                        photo = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            // Function For Show Document Preview
            function readDocument(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#DocumentPreview').attr('src', e.target.result);
                        document = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#Photo").change(function () {
                readPhoto(this);
            });

            $("#PhotoDocument").change(function () {
                readDocument(this);
            });

        $("#button").click(function () {
            // Create JSON
            var Nacimiento = $("#day").val() + "-" + $("#month").val() + "-" + $("#year").val();
            var IssueDate = $("#dayIssueDate").val() + "-" + $("#monthIssueDate").val() + "-" + $("#yearIssueDate").val();
            var ExpiryDate = $("#dayExpiryDate").val() + "-" + $("#monthExpiryDate").val() + "-" + $("#yearExpiryDate").val();
            var person = {
                Tipodeaplicacion: $("#TypeApp").val(),
                GivenName: $("#GiveName").val(),
                SurName: $("#Surname").val(),
                ContryOfBirth: $("#Country").val(),
                Citizenship: $("#Citizenship").val(),
                Nacimiento: Nacimiento,
                Gender: $("#gender").val(),
                Country: $("#country").val(),
                Street: $("#Street").val(),
                City: $("#City").val(),
                County: $("#County").val(),
                Email: $("#email").val(),
                ConfirmEmail: $("#Confirm-email").val(),
                Telephone: $("#Telephone").val(),
                PickUp: $("#Pickup").val(),
                IdentificationType: $("#IdentificationType").val(),
                NoDocument: $("#No.Document").val(),
                IssuingAuthority: $("#Issuingauthority").val(),
                IssueDate: IssueDate,
                ExpiryDate: ExpiryDate,
                IssuingCountry: $("#IssuingCountry").val(),
                Photo: photo,
                PhotoDocument: document,
                MainMotivationType: $("#MainMotivationType").val(),
                descriptionMotivation: $("#descriptionMotivation").val()
            };     
   
         //Send Message
                Email.send("marcos941216@gmail.com",
                    "alberto.linares.castillo@gmail.com", /* Temporary E-Mail */
                    "Digital State Apply",
                    JSON.stringify(person),
                    { token: "968afe61-3c7b-4c92-aca5-91c34942f0c4" });
                console.log(person);
        });
       
    </script>
}
