﻿@{
    ViewData["Title"] = "Home";
}

<link href="~/assets/css/style.css" rel="stylesheet" />

<!-- Logo And Video -->
<section class="scroll-section seccion1" data-section-name="seccion1">
    <!-- Tetris Loading -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Image Background -->
    <div class="home"></div>
    <!-- Logo And Title -->
    <div class="intro">
        <img src="~/assets/images/Logo.png" width="300" height="217" />
        <br />
        <h1>We connect everything</h1>
    </div>
    <!-- ScrollDown Button -->
    <a id="scroll-btn" href="#seccion2">
        <div class="scroll-down">
            <span>
                <i class="fa fa-angle-down fa-2x"> </i>
            </span>
        </div>
    </a>
    <!-- Float Buttons -->
    <div id="float-buttons" class="hide">
        <div class="float-logo">
            <a id="logo-btn" href="#seccion1"><img src="~/assets/images/Logo.png" /></a>
        </div>
        <div class="float-select">
            <select class="selectpicker" data-width="fit">
                <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                <option data-content='<span class="flag-icon flag-icon-do"></span> Español'>Español</option>
            </select>
        </div>
        <div class="float-id">
            <a href="@Url.Action("Apply", "Home")"><img src="~/assets/images/Get-ID.png" /></a>
        </div>
    </div>
    <!-- Sections Buttons -->
    <ul class="pagination">
        <li><a class="active" href="#seccion1"><span class="hover-text">Home</span></a></li>
        <li><a class="" href="#seccion2"><span class="hover-text">About</span></a></li>
        <li><a class="" href="#seccion3"><span class="hover-text">Images</span></a></li>
        <li><a class="" href="#seccion4"><span class="hover-text">Question 1</span></a></li>
        <li><a class="" href="#seccion5"><span class="hover-text">Question 2</span></a></li>
        <li><a class="" href="#seccion6"><span class="hover-text">Question 3</span></a></li>
        <li><a class="" href="#seccion7"><span class="hover-text">Question 3.5</span></a></li>
        <li><a class="" href="#seccion8"><span class="hover-text">Digital-ID</span></a></li>
        <li><a class="" href="#seccion9"><span class="hover-text">GateKeeper</span></a></li>
        <li><a class="" href="#seccion10"><span class="hover-text">Applications</span></a></li>
        <li><a class="" href="#seccion11"><span class="hover-text">Suscribe</span></a></li>
    </ul>
</section>

<!-- Section #2 -->
<section class="scroll-section" data-section-name="seccion2">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 160px;">
        <!-- Title -->
        <div class="wow bounceInRight">
            <h2 id="title1"><strong>About</strong></h2>
        </div>
        <!-- Text -->
        <div class="wow fadeInUp">
            <p id="p1">
                Digital State is a decentralized <strong>CryptoNetwork </strong>(<em>a private network that uses digital encryption</em>) to securely transfer value among trusted parties as well as a <strong>framework</strong> designed to accelerate the creation of <strong>distributed applications</strong> for both public and private use.
            </p>
            <p id="p2">
                It aims to provide the <em>foundational technology elements</em> to create a digitally enabled and inclusive society.
            </p>
        </div>
    </div>
    <!-- Image -->
    <div class="col-md-9">
        <img src="~/assets/images/section-2.png" class="wow zoomIn" />
    </div>
</section>

<!-- Section #3 -->
<section class="scroll-section seccion3" data-section-name="seccion3">
    <!-- Images Line 1 -->
    <div class="col-md-6 col-md-offset-3" style="margin-top: 150px;">
        <div class="col-sm-4 col-md-4 text-center">
            <h3><strong>Decentralize</strong></h3>
            <img src="~/assets/images/Decentralize.png" width="170" height="170" class="wow zoomIn" />
        </div>
        <div class="col-sm-4 col-md-4 text-center">
            <h3><strong>Crypto Network</strong></h3>
            <img src="~/assets/images/Crypto network.png" width="170" height="170" class="wow zoomIn" />
        </div>
        <div class="col-sm-4 col-md-4 text-center">
            <h3><strong>Private</strong></h3>
            <img src="~/assets/images/Private.png" width="170" height="170" class="wow zoomIn" />   
        </div>     
    </div>
    <!-- Images Line 2 -->
    <div class="col-md-6 col-md-offset-3" style="margin-top: 30px;">
        <div class="col-sm-4 col-md-4 text-center">  
            <h3><strong>Framework</strong></h3>
            <img src="~/assets/images/Framework.png" width="170" height="170" class="wow zoomIn" />
        </div>
        <div class="col-sm-4 col-md-4 text-center">
            <h3><strong>Fundational</strong></h3>
            <img src="~/assets/images/Fundational.png" width="170" height="170" class="wow zoomIn" />
        </div>
        <div class="col-sm-4 col-md-4 text-center">
            <h3><strong>Universal</strong></h3>
            <img src="~/assets/images/Universal.png" width="170" height="170" class="wow zoomIn" />
        </div>
    </div>
</section>

<!-- Section #4 -->
<section class="scroll-section seccion4" data-section-name="seccion4">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 70px">
        <!-- Title -->
        <div class="wow bounceInRight">
            <h3 id="h1">Massive consumer disruption vs. slow government technology adoption</h3>
        </div>
        <!-- Text -->
        <div class="wow fadeInUp">
            <p id="p3">
                A Standish group <a href="http://www.computerworld.com/s/article/9243396/Healthcare.gov_website_didn_t_have_a_chance_in_hell_?pageNumber=1" target="_blank">report</a> established a success rate of only 6.4% for IT government projects in the United States between 2003 and 2012. Most projects usually go over-budget, over time or fail to adequately address the needs of citizens.
                In a country like the Dominican Republic, only 5% of all government to citizen services are online, versus 99% for a small country like Estonia.
            </p>
            <p id="p4">
                In the meanwhile, consumer technology is massively disrupting society. Robotics, Artificial Inteligence, Autonomous Cars, Virtual and Augmented Reality, among other technologies are fundamentally changing the nature of almost every business in the world, and an even more accelerated pace of change rate is already coming.
            </p>
        </div>
    </div>
    <!-- Images -->
    <div class="col-sm-12 col-md-12 text-center">
        <img src="~/assets/images/section-3.png" width="350" height="300" class="wow zoomIn" />
    </div>
</section>

<!-- Section #5 -->
<section class="scroll-section seccion5" data-section-name="seccion5">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 150px">
        <!-- Title -->
        <div class="wow bounceInRight">
            <h3 id="h2">Why are governments and enterprises so slow to adopt technology?</h3>
        </div>
        <!-- Text -->
        <div class="wow fadeInUp">
            <p id="p5">
                In many cases, we have found that both government and enterprises are "<em>forced</em>" by either political directives or internal policies to <em>safeguard access to data</em>, which in turns makes it very difficult for many actors to properly and effectively create solutions to internal and external clients.
                A mecanism which gives both public and private enterprises a means to share data and safeguard access to it is needed, while at the same time allows for a simple way of <strong>connecting everything to everybody</strong> within the system.
            </p>
        </div>
    </div>
    <!-- Images -->
    <div class="col-sm-12 col-md-12 text-center">
        <img src="~/assets/images/section-4.png" class="wow zoomIn" />
    </div>
</section>

<!-- Section #6 -->
<section class="scroll-section seccion6" data-section-name="seccion6">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 50px">
        <!-- Title -->
        <div class="wow bounceInRight">
            <h3 id="h3">Helping Facilitate massive public and private blockchain adoption</h3>
        </div>
        <!-- Text -->
        <div class="wow fadeInUp">
            <p id="p6">
                According to a Gartner report, 176 billion USD will be added to the global economy because of global adoption of block chain use. This number will jump to 3.1 trillion by 2030. Because of this and other factors, blockchain technology will be a key foundational element for the disruption of current busineses, markets and societies.
            </p>
            <p id="p7">
                Digital State is built on top of a blochchain platform and it's designed from the start to help provide all the foundational elements to jumpstart a community of collaborators (Members) and users (participants) in a distributed cryptonetwork ruled by a consortium of participating collaborators of the network.
            </p>
            <p id="p8">
                In Digital State collaborators (member institutions) have <strong>voting rights</strong> to drive and help steer the design changes of the network, as well as authority to approve who reads and writes data on every single node members controls.
            </p>
        </div>
    </div>
    <!-- Images -->
    <div class="col-sm-12 col-md-12 text-center">
        <img src="~/assets/images/section-5.png" class="wow zoomIn" />
    </div>
</section>

<!-- Section #7 -->
<section class="scroll-section seccion7" data-section-name="seccion7">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 80px;">
        <!-- Title -->
        <div class="wow bounceInRight">
            <h3 id="h4">What title I should put here?</h3>
        </div>
        <!-- Text -->
        <div class="wow fadeInUp">
            <p id="p9">
                Aditionally, <strong>developers</strong> will be provided with API access to data members allow to be shared securely. Via unified API's developers will be able to create massively distributed applications for the whole society to use. In this last feature what we hope will make Digital State a disruptive force for societal change.
            </p>
            <p id="p10">
                At the same time, participants are members of such institutions and have the ability to transact within the network. Ultimately, participants benefit of all the features of a descentralized cryptonetwork.
            </p>
            <p id="p11">
                Please see below some of the benefits that participants will enjoy by signing up on Digital State
            </p>
        </div>
    </div>
    <!-- Images -->
    <div class="col-sm-12 col-md-12 text-center">
        <img src="~/assets/images/section-6.png" class="wow zoomIn" />
    </div>
</section>

<!-- Section #8 -->
<section class="scroll-section seccion8" data-section-name="seccion8">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 100px;">
        <div class="wow bounceInRight">
            <h2 id="title2"><img src="~/assets/images/e-ID.png"> Digital-ID </h2>
        </div>
        <div class="wow fadeInUp">
            <p id="p12">
                An electronic digital identity card or digital ID. It can be can use to authenticate the holder for any physical or online (virtual) authentication. It offers encryption services and high levels of security.
            </p>
            <p id="p13">
                Digital State's Digital-ID will be available soon via the service's main website <a href="#" target="_blank" rel="noopener">https://e-id.digitalstate.info</a> At launch we will only support the applications of:
            </p>
            <ul>
                <li id="l1">
                    A citizen of the Dominican Republic who has a valid national identity card.
                </li>
                <li id="l2">
                    an alien with a valid residence card/ID-card, or if you apply for D-ID along with your Dominican Republic residence card.
                </li>
            </ul>
            <p id="p14">
                At launch, only Digital-ID's will be provided. A physical Digital-ID Card will be available soon for all the Digital-ID's users.
            </p>
        </div>
    </div>
</section>

<!-- Section #9 -->
<section class="scroll-section seccion9" data-section-name="seccion9">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 100px;">
        <div class="wow bounceInRight">
            <h2 id="title3"><img src="~/assets/images/Gatekeeper.png"> GateKeeper </h2>
        </div>
        <div class="wow fadeInUp">
            <p id="p15">
                An access control distributed application built on top of the Core Digital State and Digital-ID functionality.
            </p>
            <p id="p16">
                Through the use of RFID technology, Gatekeeper can help you open automatically open your company's doors, identify yourself in your favorite club or even access the nearest parking lot, all automatically, safely and with the convenience of 21st century technology.
            </p>
            <p id="p17">
                After joining the Digital State Network, participants of member organizations can provide it's users with a physical Digital-ID card. Through the use of RFID fixed and mobile readers, Gatekeeper then authenticate these users for a variety of scenarios.
            </p>
        </div>
    </div>
</section>

<!-- Section #10 -->
<section class="scroll-section seccion10" data-section-name="seccion10">
    <div class="col-md-8 col-md-offset-2" style="margin-top: 30px;">
        <div class="wow bounceInRight text-center">
            <h2 id="title4">Applications</h2>
        </div>
        <div class="col-md-12 text-center thumbnail">
            <img src="~/assets/images/Visitors_Web_App.PNG" class="wow zoomIn" />
        </div>
        <div class="col-md-4 text-center thumbnail">
            <img src="~/assets/images/Visitors_Windows_Phone_App.PNG" class="wow zoomIn" />
        </div>
        <div class="col-md-8 text-center thumbnail">
            <img src="~/assets/images/Visitors_Windows_Store_App.PNG" class="wow zoomIn" />
        </div>
    </div>
</section>

<!-- Section #11 -->
<section class="scroll-section seccion11" data-section-name="seccion11">
    <div class="container">
        <div class="text-center" style="margin-top: 50px;">
            <h2 id="title5">News Letter</h2>
        </div>
        <div class="text-center">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="input_name" />
                <label class="mdl-textfield__label" for="input_name" id="label_name">Name</label>
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="input_profile">
                <label class="mdl-textfield__label" for="input_profile" id="label_profile">Profile</label>
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="input_contact">
                <label class="mdl-textfield__label" for="contact" id="label_contact">E-Mail</label>
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="input_institution">
                <label class="mdl-textfield__label" for="sample3" id="label_institution">Institution</label>
            </div>
            <br /><br />
            <button id="suscribe_button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="SendJSON();">Suscribe</button>
        </div>
    </div>
    <!-- Page Info -->
    <footer id="footer" style="margin-top: 65px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="~/assets/images/Logo.png" width="300" height="217" />
                    <p class="heart">Digital State&trade; by <a href="http://www.isgwebsite.com" target="_blank">INFORMATIK SOLUTIONS GROUP</a></p>
                    <p class="heart">Autopista las Americas, Km 27 1/2, Edif. WestPort, Suite 102, <br />Parque Cibernético de Santo Domingo, La Caleta, Boca Chica, Santo Domingo, Rep. Dom.</p>
                </div>
            </div>
        </div>
    </footer>
</section>

@section scripts {
    <script>

    $(function () {
        /* Function For Initialize Jquery Scrollify */
        $.scrollify({
            section: ".scroll-section",
            scrollbars: false,
            before: function (i, panels) {
                var ref = panels[i].attr("data-section-name");
                $(".pagination .active").removeClass("active");
                $(".pagination").find("a[href=\"#" + ref + "\"]").addClass("active");
            },
            after: function () {
                /* Function For Hide And Show Float Buttons */
                var hash = window.location.hash;
                if (hash == "#seccion1" || hash == "") {
                    $("#float-buttons").addClass("hide");
                } else {
                    $("#float-buttons").removeClass("hide");
                }
            },
            afterRender: function () {
                var pagination = "<ul class=\"pagination\">";
                var activeClass = "";
                $(".scroll-section").each(function (i) {
                    activeClass = "";
                    if (i === 0) {
                        activeClass = "active";
                    }
                    pagination += "<li><a class=\"" + activeClass + "\" href=\"#" + $(this).attr("data-section-name") + "\"><span class=\"hover-text\">" + $(this).attr("data-section-name").charAt(0).toUpperCase() + $(this).attr("data-section-name").slice(1) + "</span></a></li>";
                });
                pagination += "</ul>";
                $(".seccion1").append(pagination);
                $(".pagination a").on("click", $.scrollify.move);
                $("#scroll-btn").on("click", $.scrollify.move);
            }
        });
        /* Function For Initialize Bootstrap Select */
        $('.selectpicker').selectpicker();
    });

    /* Function For The Tetris Loading */
    $(window).load(function () {
        $('#status').fadeOut();
        $('#preloader').delay(300).fadeOut('slow');
    });

    $(document).ready(function () {
        /* Function For Animate Elements When You Scroll */
        wow = new WOW({
            mobile: false
        });
        wow.init();

        /* Function For Change The Language In StartUp */
        var userLang = navigator.language || navigator.userLanguage;
        var dataLang = userLang.slice(0, 2);
        /*  README
            Chrome Return "es" or "Es" Language
            While that Firefox and Edge Return "es-Es" or "es-Do"
            For this reason is required split the result
        */
        switch (dataLang) {
            case 'en':
                /*All Fine*/
                break;
            case 'es':
                ChangeLangToES();
                $('.selectpicker').selectpicker('val', 'Español');
                break;
        }
    });

    /* Function For Send Suscribe Data In JSON */
    function SendJSON() {
        person = {};
        person.name = $("#name").val();
        person.profile = $("#profile").val();
        person.contact = $("#contact").val();
        person.institution = $("#institution").val();

        Email.send("marcos941216@gmail.com",
            "MaxterDK@gmail.com", /* Temporary E-Mail */
            "Digital State Suscriber",
            JSON.stringify(person),
            { token: "968afe61-3c7b-4c92-aca5-91c34942f0c4" });

        img = $("<img/>").attr("src", "assets/images/email.png");
        h3 = $("<h3></h3>").html("Gracias Por Suscribirte")
        $("#suscribe").html(img);
        $("#suscribe").append(h3);
    }

    /* Function For Change Language With Bootstrap-Select */
    $('.selectpicker').on('change', function () {
        var selected = $(this).val();
        if (selected == "English") {
            ChangeLangToEN();
        }
        if (selected == "Español") {
            ChangeLangToES();
        }
    });

    /* Function For Change Language To English */
    function ChangeLangToEN(){
        /* About Section */
        $("#title1").html("About");
        $("#p1").html("Digital State is a decentralized <strong>CryptoNetwork</strong> (<em>a private network that uses digital encryption</em>) to securely transfer value among trusted parties as well as a <strong>framework</strong> designed to accelerate the creation of <strong>distributed applications</strong> for both public and private use.");
        $("#p2").html("It aims to provide the <em>foundational technology elements</em> to create a digitally enabled and inclusive society.");
        /* Text Section */
        $("#h1").html("Massive consumer disruption vs. slow government technology adoption");
        $("#p3").html('A Standish group <a href="http://www.computerworld.com/s/article/9243396/Healthcare.gov_website_didn_t_have_a_chance_in_hell_?pageNumber=1" target="_blank">report</a> established a success rate of only 6.4% for IT government projects in the United States between 2003 and 2012. Most projects usually go over-budget, over time or fail to adequately address the needs of citizens. In a country like the Dominican Republic, only 5% of all government to citizen services are online, versus 99% for a small country like Estonia.');
        $("#p4").html("In the meanwhile, consumer technology is massively disrupting society. Robotics, Artificial Inteligence, Autonomous Cars, Virtual and Augmented Reality, among other technologies are fundamentally changing the nature of almost every business in the world, and an even more accelerated pace of change rate is already coming.");
        /* Text Section */
        $("#h2").html("Why are governments and enterprises so slow to adopt technology?");
        $("#p5").html('In many cases, we have found that both government and enterprises are " <em>forced</em> " by either political directives or internal policies to <em>safeguard access to data</em>, which in turns makes it very difficult for many actors to properly and effectively create solutions to internal and external clients. A mecanism which gives both public and private enterprises a means to share data and safeguard access to it is needed, while at the same time allows for a simple way of <strong>connecting everything to everybody</strong> within the system.');
        /* Text Section */
        $("#h3").html("Helping Facilitate massive public and private blockchain adoption");
        $("#p6").html("According to a Gartner report, 176 billion USD will be added to the global economy because of global adoption of block chain use. This number will jump to 3.1 trillion by 2030. Because of this and other factors, blockchain technology will be a key foundational element for the disruption of current business, markets and societies.");
        $("#p7").html("Digital State is built on top of a blockchain platform and it's designed from the start to help provide all the foundational elements to jumpstart a community of collaborators (Members) and users (participants) in a distributed cryptonetwork ruled by a consortium of participating collaborators of the network.");
        $("#p8").html("In Digital State collaborators (member institutions) have <strong>voting rights</strong> to drive and help steer the design changes of the network, as well as authority to approve who reads and writes data on every single node members controls.");
        /* Text Section */
        $("#h4").html("What title I should put here?");
        $("#p9").html("Aditionally, <strong>developers</strong> will be provided with API access to data members allow to be shared securely. Via unified API's developers will be able to create massively distributed applications for the whole society to use. In this last feature what we hope will make Digital State a disruptive force for societal change.");
        $("#p10").html("At the same time, participants are members of such institutions and have the ability to transact within the network. Ultimately, participants benefit of all the features of a descentralized cryptonetwork.");
        $("#p11").html("Please see below some of the benefits that participants will enjoy by signing up on Digital State.");
        /* Digital-ID Section */
        $("#p12").html("An electronic digital identity card or digital ID. It can be can use to authenticate the holder for any physical or online (virtual) authentication. It offers encryption services and high levels of security.");
        $("#p13").html('Digital-ID will be available soon via the services main website <a href="#" target="_blank" rel="noopener">https://e-id.digitalstate.info</a> At launch we will only support the applications of:');
        $("#l1").html("A citizen of the Dominican Republic who has a valid national identity card.");
        $("#l2").html("an alien with a valid residence card/ID-card, or if you apply for D-ID along with your Dominican Republic residence card.");
        $("#p14").html("At launch, only Digital-ID's will be provided. A physical Digital-ID Card will be available soon for all the Digital-ID's users.");
        /* GateKeeper Section */
        $("#p15").html("An access control distributed application built on top of the Core Digital State and Digital-ID functionality.");
        $("#p16").html("Through the use of RFID technology, Gatekeeper can help you open automatically open your company's doors, identify yourself in your favorite club or even access the nearest parking lot, all automatically, safely and with the convenience of 21st century technology.");
        $("#p17").html("After joining the Digital State Network, participants of member organizations can provide it's users with a physical Digital-ID card. Through the use of RFID fixed and mobile readers, Gatekeeper then authenticate these users for a variety of scenarios.");
        /* Applications Section */
        $("#title4").text("Applications");
        /* Suscribe Section */
        $("#title5").text("News Letter");
        $("#label_name").text("Name");
        $("#label_profile").text("Profile");
        $("#label_contact").text("E-Mail");
        $("#label_institution").text("Institution");
        $("#suscribe_button").text("Suscribe");
    }

    /* Function For Change Language To Spanish */
    function ChangeLangToES(){
        /* About Section */
        $("#title1").html("Acerca de");
        $("#p1").html("Digital State es una red descentralizada de <strong>CryptoNetwork</strong> (<em>Red privada que utiliza cifrado digital</em>) Para transferir de forma segura el valor entre las partes de confianza, asi como un <strong>marco de trabajo</strong> diseñado para acelerar la creación de <strong>aplicaciones distribuidas</strong> para uso público y privado.");
        $("#p2").html("Su objetivo es proporcionar los <em>elementos tecnológicos fundamentales</em> para crear una sociedad digitalmente habilitada e inclusiva.");
        /* Text Section */
        $("#h1").html("Disminución masiva del consumidor y La lenta adopción de tecnologías gubernamentales");
        $("#p3").html('Un <a href="http://www.computerworld.com/s/article/9243396/Healthcare.gov_website_didn_t_have_a_chance_in_hell_?pageNumber=1" target="_blank">reporte</a> del grupo Standish estableció una tasa de éxito de sólo el 6,4% para los proyectos de gobierno de TI en los Estados Unidos entre 2003 y 2012. La mayoría de los proyectos suelen superar el presupuesto, con el tiempo o no satisfacen las necesidades de los ciudadanos. En un país como la República Dominicana, sólo el 5% de todos los servicios del gobierno a los ciudadanos están en línea, frente al 99% de un país pequeño como Estonia.');
        $("#p4").html("Mientras tanto, la tecnología de consumo está perturbando masivamente a la sociedad. Robótica, Inteligencia Artificial, Automóviles Autónomos, Realidad Virtual y Aumentada, entre otras tecnologías están cambiando fundamentalmente la naturaleza de casi todos los negocios en el mundo, y un ritmo de cambio aún más acelerado está llegando.");
        /* Text Section */
        $("#h2").html("¿Por qué los gobiernos y las empresas tardan tanto en adoptar la tecnología?");
        $("#p5").html('En muchos casos, hemos encontrado que tanto el gobierno como las empresas son "<em>forzados</em>" ya sea por directivas políticas o políticas internas para <em>proteger el acceso a los datos</em>, lo que a su vez hace que sea muy difícil para muchos actores crear de manera adecuada y efectiva soluciones para clientes internos y externos. Se necesita un mecanismo que proporcione a las empresas tanto públicas como privadas un medio para compartir datos y proteger el acceso a él, y al mismo tiempo permite una forma sencilla de <strong>conectar todo a todos</strong> dentro del sistema.');
        /* Text Section */
        $("#h3").html("Facilitar la adopción masiva de bloques públicos y privados");
        $("#p6").html("Según un informe de Gartner, 176 millones de dólares se agregarán a la economía global debido a la adopción global del uso de la cadena de bloques. Esta cifra pasará a 3.1 trillones en 2030. Debido a esto y otros factores, la tecnología blockchain será un elemento fundamental para la interrupción de los negocios, los mercados y las sociedades actuales.");
        $("#p7").html("Digital State se construye sobre una plataforma de blockchain y está diseñado desde el principio para ayudar a proporcionar todos los elementos fundamentales para poner en marcha una comunidad de colaboradores (miembros) y usuarios (participantes) en una criptonetwork distribuida regida por un consorcio de colaboradores de la red.");
        $("#p8").html("En Digital State, los colaboradores (las instituciones miembros) tienen <strong>derecho a votar</strong> para conducir y ayudar a dirigir los cambios de diseño de la red, así como la autoridad para aprobar quién lee y escribe datos en cada uno de los controles de los miembros del nodo.");
        /* Text Section */
        $("#h4").html("¿Que titulo deberia poner aqui?");
        $("#p9").html("Adicionalmente, <strong>los desarrolladores</strong> tendrán acceso a la API para que los datos de los miembros puedan compartirse de forma segura. A través de de la API los desarrolladores podrán crear aplicaciones masivamente distribuidas para toda la sociedad. En esta última característica, esperamos que Digital State sea una fuerza disruptiva para el cambio social.");
        $("#p10").html("Al mismo tiempo, los participantes son miembros de tales instituciones y tienen la capacidad de realizar transacciones dentro de la red. En última instancia, los participantes se beneficiaran de todas las características de una criptonetwork descentralizada.");
        $("#p11").html("Vea a continuación algunos de los beneficios que los participantes disfrutarán al inscribirse en Digital State.");
        /* Digital-ID Section */
        $("#p12").html("Una tarjeta de identidad electrónica digital o una identificación digital. Se puede utilizar para autenticar al titular para cualquier autenticación física o en línea (virtual). Ofrece servicios de cifrado y altos niveles de seguridad.");
        $("#p13").html('Digital-ID estará disponible en breve a través de la página principal de servicios <a href="#" target="_blank" rel="noopener">https://e-id.digitalstate.info</a>. En el lanzamiento solo apoyaremos las aplicaciones de:');
        $("#l1").html("Un ciudadano de la República Dominicana con tarjeta de identidad nacional válida.");
        $("#l2").html("Un extranjero con una tarjeta válida de residencia / tarjeta de identificación, o si solicita D-ID junto con su tarjeta de residencia de República Dominicana.");
        $("#p14").html("En el lanzamiento, solo se proporcionarán Digital-IDs. Una tarjeta de Digital-ID física estará disponible pronto para todos los usuarios de Digital-IDs.");
        /* GateKeeper Section */
        $("#p15").html("Una aplicación distribuida de control de acceso construida sobre la funcionalidad Digital State Core y Digital-ID.");
        $("#p16").html("Mediante el uso de la tecnología RFID, Gatekeeper puede ayudarle a abrir automáticamente las puertas de su empresa, identificarse en su club favorito o incluso acceder al estacionamiento más cercano, de forma automática, segura y con la conveniencia de la tecnología del siglo XXI.");
        $("#p17").html("Después de unirse a la Digital State Network, los participantes de las organizaciones miembros pueden proporcionar a sus usuarios una tarjeta física de Digital-ID. A través del uso de lectores fijos y móviles RFID, Gatekeeper autentifica a estos usuarios para una variedad de escenarios.");
        /* Applications Section */
        $("#title4").text("Aplicaciones");
        /* Suscribe Section */
        $("#title5").text("Boletin");
        $("#label_name").text("Nombre");
        $("#label_profile").text("Perfil");
        $("#label_contact").text("Correo Electronico");
        $("#label_institution").text("Institucion");
        $("#suscribe_button").text("Suscribirse");
    }

    </script>
}
